html {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 61, 80, 1) 60%);
  background-size: contain;
}

.App {
  position: fixed;
  display: flex;
  top: 0;
  left: 30%;
}

.header {
  position: fixed;
  display: flex;
  left: 45%;
}